.super-mario {
  position: absolute;
  width: 200px;
  z-index: 2;
}

.goomba {
  position: absolute;
  width: 100px;
  z-index: 1;
}

.baloon {
  position: absolute;
  left: 300px;
}

.speach {
  position: absolute;
  font-size: 25px;
  top: 120px;
  left: 325px;
  z-index: 4;
}

.bowser {
  position: absolute;
  width: 200px;
  top: 240px;
  left: 590px;
}
