* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
#header {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 20px;
}

body {
  background-color: #34695d9c;
  color: white;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

#botaoReset {
  color: rgb(41, 41, 41);
  cursor: pointer;
  margin-left: 70%;
  margin-bottom: 10px;
  width: 100px;
  height: 40px;
  border-radius: 20px;
  border: 1px solid rgba(128, 128, 128, 0.055);
}

#botaoReset:hover {
  color: white;
  background-color: #14a07f;
}

footer {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 3px;
}

main h2 {
  padding-bottom: 20px;
}

main h3 {
  padding-bottom: 10px;
}

p {
  padding-top: 20px;
  margin: auto;
  text-align: justify;
  width: 400px;
}

a {
  text-decoration: none;
  color: white;
}

#container-color {
  padding-top: 20px;
}

#container-fonte {
  padding-top: 20px;
}

#container-espacamento {
  padding-top: 20px;
}

#containerSelecaoFonte {
  padding-top: 20px;
}

#background {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #5cb39eb4;
  width: 350px;
  margin: auto;
  border-radius: 20px;
}

#materia {
  line-height: 30px;
  height: 200px;
  width: 360px;
  font-size: 16px;
  overflow: auto;
  font-family: sans-serif;
  padding: 10px;
}

#materia::-webkit-scrollbar {
  width: 10px; /* width of the entire scrollbar */
}

#materia::-webkit-scrollbar-track {
  background: rgba(1, 255, 86, 0.616); /* color of the tracking area */
  border-radius: 20px;
}

#materia::-webkit-scrollbar-thumb {
  background-color: rgb(255, 255, 255); /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
  border: 3px solid rgba(0, 0, 0, 0.616); /* creates padding around scroll thumb */
}

.color {
  width: 50px;
  height: 50px;
  margin: 8px;
  border-radius: 50%;
}

.vermelho {
  cursor: pointer;
  background-color: red;
}

.verde {
  cursor: pointer;
  background-color: #036b52;
}

.branco {
  cursor: pointer;
  background-color: white;
}

.azul {
  cursor: pointer;
  background-color: blue;
}

.preto {
  cursor: pointer;
  background-color: black;
}

#tamanhoDaFonte {
  cursor: pointer;
  width: 270px;
  padding-top: 10px;
  padding-bottom: 10px;
}

#tamanhoDoEspacamento {
  cursor: pointer;
  width: 270px;
  padding-top: 10px;
  padding-bottom: 10px;
}

#selecao {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #5cb39eb4;
  width: 350px;
  margin: auto;
  border-radius: 20px;
  padding: 4px;
}

select {
  font-size: 15px;
  background-color: #5cb39f00;
  color: rgb(41, 41, 41);
  cursor: pointer;
  padding: 7px;
  text-align: center;
  width: 200px;
  border-radius: 10px;
  border: 1px solid rgba(128, 128, 128, 0);
}

select:target {
  border: 1px solid rgba(128, 128, 128, 0);
}

select:focus {
  outline: 0;
}
